<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='Login/images/quickdash.ico') }}">
    <title>QuickDash - Network</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.bootstrap4.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.bootstrap4.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.bootstrap4.min.css') }}"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adminlte.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropdown.css') }}"/>

    <!-- Core JS -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/adminlte.min.js') }}"></script>
    <style>
        body {
             overflow: hidden; /* Hides the scrollbar */
             overflow-y: scroll; /* Allows vertical scrolling */
         }
         body::-webkit-scrollbar {
             display: none;
         }
     </style>
</head>

<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-expand navbar-primary navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item d-none d-sm-inline-block">
                <a id="systemLink" href="#" class="nav-link">System</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a id="logsLink" href="#" class="nav-link">Logs</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a id="networkLink" href="#" class="nav-link">Network</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a id="softwareLink" href="#" class="nav-link">Software</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#"><i class="fa-solid fa-user"></i></a>
                <div class="dropdown-menu dropdown-menu-right dropdown-custom">
                    <a href="/logout" class="dropdown-item dropdown-item-custom">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i> Log Out
                    </a>
                </div>
            </li>
        </ul>
    </nav>

    <div class="row mt-4">
        <!-- Left Side (Info Boxes and Network Info) -->
        <div class="col-md-6">
            <div class="row mt-0.5 mb-2">
                <!-- Reusable Stats Card -->
                {% set stats = [
                    {'icon': 'fa-brands fa-megaport', 'bg': 'bg-info', 'text': 'Total Numbers of Ports', 'id': 'totalPorts'},
                    {'icon': 'fa-solid fa-ear-listen', 'bg': 'bg-success', 'text': 'Listening Port Numbers', 'id': 'listeningPorts'},
                    {'icon': 'fa-solid fa-power-off', 'bg': 'bg-warning', 'text': 'Established Port Numbers', 'id': 'establishedPorts'},
                    {'icon': 'fa-regular fa-hourglass-half', 'bg': 'bg-danger', 'text': 'Time Wait Port Numbers', 'id': 'timeWaitPorts'},
                    {'icon': 'fa-solid fa-circle-xmark', 'bg': 'bg-danger', 'text': 'Close Wait Port Numbers', 'id': 'closeWaitPorts'},
                    {'icon': 'fa-solid fa-circle-question', 'bg': 'bg-danger', 'text': 'Unknown of Ports', 'id': 'unknownPorts'}
                ] %}
                {% for stat in stats %}
                    <div class="col-md-4 col-sm-6 col-12">
                        <div class="info-box shadow-sm">
                            <span class="info-box-icon {{ stat.bg }}">
                                <i class="{{ stat.icon }}"></i>
                            </span>
                            <div class="info-box-content">
                                <span class="info-box-text">{{ stat.text }}</span>
                                <span class="info-box-number" id="{{ stat.id }}">0</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!-- Network Info -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Network Info</h3>
                </div>
                <div class="card-body">
                    <table id="networkTable" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Interface</th>
                            <th>IP Address</th>
                            <th>MAC Address</th>
                        </tr>
                        </thead>
                        <tbody id="networkTableBody"></tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Right Side (Port Info) -->
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-header">
                    <h3 class="card-title">Port Info</h3>
                </div>
                <div class="card-body">
                    <table id="portTable" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Protocol</th>
                            <th>Local_Address</th>
                            <th>Foreign_Address</th>
                            <th>State</th>
                            <th>PID</th>
                            <th>Program_Name</th>
                        </tr>
                        </thead>
                        <tbody id="portTableBody"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- DataTables JS -->
<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dataTables.responsive.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/responsive.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/buttons.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/buttons.colVis.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/pdfmake.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vfs_fonts.js') }}"></script>
<script src="{{ url_for('static', filename='js/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/buttons.print.min.js') }}"></script>

<script>
    let networkTable;
    let portTable;

    const portsTableConfig = {
        paging: true,
        scrollX: true,
        responsive: true,
        autoWidth: false,
        columnDefs: [{width: "200px", targets: "_all"}],
        dom: "Bfrtip",
        buttons: ["copy", "csv", "excel", "pdf", "print", "colvis"],
        order: [[0, "asc"]],
        destroy: true,
        language: {
            emptyTable: "No data available"
        }
    };

    const networkTableConfig = {
        scrollX: true,
        responsive: true,
        autoWidth: false,
        columnDefs: [{width: "200px", targets: "_all"}],
        order: [[0, "asc"]],
        destroy: true,
        language: {
            emptyTable: "No data available"
        }
    };

    $(document).ready(function () {
        portTable = $("#portTable").DataTable(portsTableConfig);
        networkTable = $("#networkTable").DataTable(networkTableConfig);
    });

    const userId = parseInt(window.location.pathname.split('/').pop());
    document.getElementById("systemLink").href = `/system/${userId}`;
    document.getElementById("logsLink").href = `/logs/${userId}`;
    document.getElementById("networkLink").href = `/network/${userId}`;
    document.getElementById("softwareLink").href = `/software/${userId}`;

    const server_url = "{{ server_url }}";
    const port = "{{ port }}";
    // Initialize WebSocket connection
    const ws = new WebSocket(`ws://${server_url}:${port}`);

    ws.onopen = () => {
        ws.send(userId.toString()); // Join the room with userId
    };

    ws.onmessage = (event) => {
        const data = JSON.parse(event.data);

        // Update port info
        updateTable(portTable, data.network.port_info);
        updateStats(data.network.port_info);

        // Update network info
        updateTable(networkTable, data.network.network_info);
    };

    function escapeHtml(unsafe) {
        return unsafe
            .replace(/&/g, "&amp;")
            .replace(/</g, "&lt;")
            .replace(/>/g, "&gt;")
            .replace(/"/g, "&quot;")
            .replace(/'/g, "&#039;");
    }

    function updateTable(table, data) {
        table.clear();
        data.forEach((item) => {
            const rowData = [];
            for (const key in item) {
                if (item.hasOwnProperty(key)) {
                    rowData.push(item[key]);
                }
            }
            table.row.add(rowData);
        });
        table.draw(false);
    }

    function updateStats(ports) {
        document.getElementById("totalPorts").textContent = ports.length;
        document.getElementById("listeningPorts").textContent =
            ports.filter((p) => p.State === "LISTENING").length;
        document.getElementById("establishedPorts").textContent =
            ports.filter((p) => p.State === "ESTABLISHED").length;
        document.getElementById("closeWaitPorts").textContent =
            ports.filter((p) => p.State === "CLOSE_WAIT").length;
        document.getElementById("timeWaitPorts").textContent =
            ports.filter((p) => p.State === "TIME_WAIT").length;
        document.getElementById("unknownPorts").textContent =
            ports.filter((p) => p.State === "").length;
    }

    function filterNetworkTable() {
        const searchTerm = document.getElementById("networkSearch").value;
        networkTable.search(searchTerm).draw();
    }
</script>
</body>
</html>
